.photo-main {
  &__container {
    position: relative;
  }

  &__img {
    border-radius: 0.5rem;
  }

  &__functional {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
  }
}
